

.container{
    
    width: 80%;
    max-width: 600px;
    text-align: center;
    background-color:aliceblue;
    border-radius: 20px;
    
    
    
    border: 1.5px solid black;
    font-family: "Big Shoulders Stencil", sans-serif;
    padding: 20px;
    margin: 100px auto;

}

.text{
    font-weight: bold;
    color: rgb(175, 55, 55);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.author {
    font-weight: bold;
    color: rgb(175, 55, 55);
    font-size: 1.2rem;
}
.btn{
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
     ;
}